
<p>Hi Admin,</p>

<p><b>Somebody want to contact with you.</b></p>
<p>
  Name:<b> <%= @contact.name %></b>
</p>
<br/>

<p>
E-mail: <b><%= @contact.email %></b>
</p>
<br/>
<p>
Message: <b><%= @contact.message %></b>
</p>
<br/>

<p>Thanks</p>
<p>Team Go4UsedCar</p> 
