<div class="causesBox">
  <h3>ABOUT</h3>
  <p>Indiancraftstudio.com is a marketplace to "Discover Unique Indian Products" including Handmade, Vintage, Ethnic, Organic and Natural products from India.
<br><br>
India is a beautiful assortment of diversity reflected in our Clothing, Food, Lifestyle, Language, Music, Books etc. This diversity is so rich and diverse that an attempt to capture it on a single platform was never made. Indiancraftstudio.com is that sincere attempt by bunch of young insane guys and gals who think this is possible now with the Internet.
<br><br>
Indiancraftstudio.com uses a marketplace model to capture the regional variations of India. We connect local artisans & designers directly to global customers and thereby increase their livelihood, remove middlemen, help them create/promote their brand and thereby preserve our culture, traditions and values. We believe this journey will not only help artisans of India but also help customers discover and buy products which they otherwise are not able to do today.
<br><br>
Buy Wooden Handicrafts online in India from Indian Craft Studio. If you want to buy imported Wooden Handicrafts, Indian Craft Studio has it all for you. Find great deals on traditional Wooden Handicrafts with high quality; which provide you with a high value product at affordable rate. You will be amazed at the discounted Wooden Handicrafts prices which we offer. We have the best Indian and imported Wooden Handicrafts. Confused on which Wooden Handicrafts to buy? Browse through our extensive range of Wooden Handicrafts. 
  </p>
</div>
<style>
  .causesBox p{
    font-size: 15px;
    text-indent: 10px;
  }
</style>