<div class="causesBox">
  <h3>Delivery Information</h3>
  <p>
  All our deliveries are done through regisered post and delivery time may vary from place to place.  
    <br><br> 
    Though we choose our delivery methods carefully and inspect each and every product before its added to our e-commerce platform stil  Touchsecurecrafts is not liable for any late, lost or stolen deliveries as this is the responsibility of the delivery partner.
    <br><br> 
    In the case that the item you purchase was misrepresented in the image on the e-commerce platform, please email  us on support@touchsecurecrafts.com 
    
    For any questions or issues related to the sale or delivery of a purchase, please contact support@touchsecurecrafts.com directly and we can always help to get the issue resolved
    <br><br>
    Physical delivery information will be provided by delivery of physical good in 24hours from the time of purchase through email. For digital delivery of good there wont be any delivery information as the delivery will be done through email.
  </p>
</div>
<style>
  .causesBox p{ 
    font-size: 15px;
    text-indent: 10px;
  }
</style>