<div class="causesBox">
  <h3>Shipping Returns</h3>
  <p>
    HandiCraft Studios is responsible for, or involved in the return process raised by the customer.  HandiCraft Studios is expected to provide customers with an exceptional level of service, the shipping return policy is set by each individual delivery vendor and may differ from place to place.  For any questions about returning a specific item, please contact the us directly on support@touchsecurecrafts.com.
  </p>
</div>
<style>
  .causesBox p{
    font-size: 15px;
    text-indent: 10px;
  }
</style>