<div class="causesBox">
  <h3>Terms And Conditions</h3>
  <h5>Since Touchsecurecraftss is a commercial ecomerce platform for us to sell our products on touchsecurecraftss platform which can be both digital and physical in nature. Please read out all our mentioned policies in detail  before making a purchase.
  <br><br> 
  In case of any dispute <a href='http://www.touchsecurecrafts.com'><strong>http://www.touchsecurecrafts.com</strong></a> is liable for any refunds. In case of dispute please contact us on support@touchsecurecrafts.com and get a resolution for the dispute. Since <a href='http://www.touchsecurecrafts.com'><strong>http://www.touchsecurecrafts.com</strong></a> 
  <br><br> 
  </div>