<div class="causesBox">
	<h3>Terms And Conditions</h3>
	<h5>Since Touchsecurecraftss is a commercial ecomerce platform for us to sell our products on touchsecurecraftss platform which can be both digital and physical in nature. Please read out all our mentioned policies in detail  before making a purchase.
		<br><br> 
		In case of any dispute <a href='http://www.touchsecurecrafts.com'><strong>http://www.touchsecurecrafts.com</strong></a> is liable for any refunds. In case of dispute please contact us on support@touchsecurecrafts.com and get a resolution for the dispute. Since <a href='http://www.touchsecurecrafts.com'><strong>http://www.touchsecurecrafts.com</strong></a> 
		<br><br>
		This is not a market place.
		<br><br>
		If You use the Website, You shall be responsible for maintaining the confidentiality of your Display Name and Password and You shall be responsible for all activities that occur under your Display Name and Password. You agree that if You provide any information that is untrue, inaccurate, not current or incomplete or We have reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, or not in accordance with the this Terms of Use, We shall have the right to indefinitely suspend or terminate or block access of your account on the Website and refuse to provide You with access to the Website. we will never share your personal information with anyone. its safe and secure on our servers with no access to anyone.

		<br><br>
		When You use the Website or send emails or other data, information or communication to us, You agree and understand that You are communicating with Us through electronic records and You consent to receive communications via electronic records from Us periodically and as and when required. We may communicate with you by email or by such other mode of communication, electronic or otherwise.
		<br><br>
		Touchsecurecrafts utilizes third part bank payment gateways to process transactions and does not own any payment gateway Hence it abides by the rules and regulations set by the merchant bank providing us with the payment gateway services. 
		<br><br>
		Before making a purchase please make sure you have read all the policies listed on the website for cancellation/refunds/delivery/privacy etc and only make payment after you are comfortable with the policies listed on the website.
		<br><br>
		We will never redirect you to any third part website and whatever we are selling is all listed on the website. Have a secure and happy shopping. 
	</h5> 
</div>