
<% @page_title = "Payment" %>
<link href="/assets/font-awesome.min.css" rel="stylesheet">
<div class="causesBox">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel-heading">
    <h3>Edit Payment Information</h3>
    </div>

    <%= form_for @payment, :url => payment_path(:payment_id => @payment.id), :method => 'PUT', :html => {:id => 'cvvForm'} do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
<%end%>
</div>

<style>
  .input-group-addon {
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 4px;
    color: #555555;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    padding: 6px 12px;
    text-align: center;
  }


/*.ui-datepicker-month
{
  min-width: 20px;

}

.ui-datepicker-year
{
  min-width: 20px;

}*/




#payment_card_expiry_1i,#payment_date_of_birth_3i,#payment_card_expiry_2i,#payment_date_of_birth_2i,#payment_date_of_birth_1i

{
  min-width: 60px;
}

.error{
    color:#9e2106;
    background: none;
}
</style>
<script>
  $(function() {
    $( "#datepicker" ).datepicker(
    {
      dateFormat: 'dd-mm-yy',
      todayHighlight: true,
      todayBtn: 'linked',
      autoclose: true,
      maxDate: 0,
      changeMonth: true,
      changeYear: true

    }

    );
  });

    $('#cvvForm').validate();
</script>